@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Montserrat", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
  --breakpoint-xs: 375px;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans overflow-x-hidden;
  }
}
